body{
 
}
.navber{
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    background-color: #0082e6;
}
.logo{
    background-image: url(ceonlogo.jpg);
    height: 150px;
    width: 150px;
    background-size: cover;
    position: absolute;
    left: 50px;
}
.navber ul{
 position: absolute;
 left: 800px;
  margin-right: 20px;

}
.navber ul li{
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;

}
.navber ul li a{
  color: white;
  font-size: 17px;
  padding: 7px 13px;
  border-radius: 3px;
  text-transform: uppercase;

}
a.active,a:hover{
  background: #1b9bff;
  transition: .5s;
}
    

.mainp{
  height: 100px;
  width: 600px;
  position: absolute;
  left: 600px;
  font-size: 2rem;
  color: blueviolet;
}
.herobox{
    height: 200px;
    width: 100%;
    display: flex;
    justify-content: center;
    position: absolute;
    top: 300px;
    padding: 30px;
    justify-content: space-evenly;
}
.box1{
  height: 200px;
  width: 250px;
  border: 2px solid blue;
  border-radius: 2rem; 
   
}
.box1:hover{
  height: 220px;
  width: 270px;
}
.know{
  height: 50px;
  width: 200px;
  font-size: 20px;
  position: absolute;
  top: 180px;
  left: 145px;
  
  border: 2px solid blue;
  border-radius: 2rem;
  align-items: center;
  justify-content: center;
 background-color: #1b9bff;
 color: black;
  
}
.know:hover{
  background-color: blue;
  color: white;
  width: 220px;
  position: absolute;
  left: 143px;
}
.know p{
  position: absolute;
  left: 60px;
  align-items: center;
}
.box2{
  height: 200px;
  width: 250px;
  border: 2px solid blue;
  border-radius: 2rem;   
  }
  .box2:hover{
    height: 220px;
    width: 270px;
  }
  .know1{
    height: 50px;
    width: 200px;
    background-color: #1b9bff;
    position: absolute;
    top: 180px;
    left: 493px;
    border: 2px solid blue;
    border-radius: 2rem;
    
  }
  .know1:hover{
    background-color: blue;
    color: white;
    width: 220px;
    position: absolute;
    left: 485px;
  }
  .know1 p{
    position: absolute;
    top: 0px;
    left: 60px;
    font-size: 20px;
  }
  
  
  .box3{
    height: 200px;
    width: 250px;
    border: 2px solid blue;
    border-radius: 2rem;    
  }
  .box3:hover{
    height: 220px;
    width: 270px;
  }
  .know2{
    height: 50px;
    width: 200px;
    background-color: #1b9bff;
    position: absolute;
    top: 180px;
    left: 840px;
    border: 2px solid blue;
    border-radius: 2rem;
    
  }
  .know2:hover{
    background-color: blue;
    color: white;
    width: 220px;
    position: absolute;
    left: 826px;
  }
  .know2 p{
    position: absolute;
    top: 0px;
    left: 60px;
    font-size: 20px;
  }
  
  .box4{
    height: 200px;
    width: 250px;
    border: 2px solid blue;
    border-radius: 2rem;  
  }
  .box4:hover{
    height: 220px;
    width: 270px;
  }
  .know3{
    height: 50px;
    width: 200px;
    background-color: #1b9bff;
    position: absolute;
    top: 180px;
    left: 1185px;
    border: 2px solid blue;
    border-radius: 2rem;
    
  }
  .know3:hover{
    background-color: blue;
    color: white;
    width: 220px;
    position: absolute;
    left: 1170px;
  }
  .know3 p{
    position: absolute;
    top: 0px;
    left: 60px;
    font-size: 20px;
  }
  
  .herobox1{
    height: 200px;
    width: 100%;
    display: flex;
    justify-content: center;
    position: absolute;
    top: 600px;
    padding: 30px;
    justify-content: space-evenly;
}
.box5{
  height: 200px;
  width: 250px;
  border: 2px solid blue;
  border-radius: 2rem;  
}
.box5:hover{
  height: 220px;
  width: 270px;
}
.know4{
  height: 50px;
  width: 200px;
  font-size: 20px;
  position: absolute;
  top: 180px;
  left: 145px;
  
  border: 2px solid blue;
  border-radius: 2rem;
  align-items: center;
  justify-content: center;
 background-color: #1b9bff;
 color: black;
  
}
.know4:hover{
  background-color: blue;
  color: white;
  width: 220px;
  position: absolute;
  left: 143px;
}
.know4 p{
  position: absolute;
  left: 60px;
  align-items: center;
}
.box6{
  height: 200px;
  width: 250px;
  border: 2px solid blue;
  border-radius: 2rem;   
  }
  .box6:hover{
    height: 220px;
    width: 270px;
  }
  .know5{
    height: 50px;
    width: 200px;
    background-color: #1b9bff;
    position: absolute;
    top: 180px;
    left: 493px;
    border: 2px solid blue;
    border-radius: 2rem;
    
  }
  .know5:hover{
    background-color: blue;
    color: white;
    width: 220px;
    position: absolute;
    left: 485px;
  }
  .know5 p{
    position: absolute;
    top: 0px;
    left: 60px;
    font-size: 20px;
  }
  
  .box7{
    height: 200px;
    width: 250px;
    border: 2px solid blue;
    border-radius: 2rem;    
  }
  .box7:hover{
    height: 220px;
    width: 270px;
  }
  .know6{
    height: 50px;
    width: 200px;
    background-color: #1b9bff;
    position: absolute;
    top: 180px;
    left: 840px;
    border: 2px solid blue;
    border-radius: 2rem;
    
  }
  .know6:hover{
    background-color: blue;
    color: white;
    width: 220px;
    position: absolute;
    left: 826px;
  }
  .know6 p{
    position: absolute;
    top: 0px;
    left: 60px;
    font-size: 20px;
  }
  
  .box8{
    height: 200px;
    width: 250px;
    border: 2px solid blue;
    border-radius: 2rem;  
  }
  .box8:hover{
    height: 220px;
    width: 270px;
  }
  .know7{
    height: 50px;
    width: 200px;
    background-color: #1b9bff;
    position: absolute;
    top: 180px;
    left: 1185px;
    border: 2px solid blue;
    border-radius: 2rem;
    
  }
  .know7:hover{
    background-color: blue;
    color: white;
    width: 220px;
    position: absolute;
    left: 1170px;
  }
  .know7 p{
    position: absolute;
    top: 0px;
    left: 60px;
    font-size: 20px;
  }
  .herobox2{
    height: 200px;
    width: 100%;
    display: flex;
    justify-content: center;
    position: absolute;
    top: 900px;
    padding: 30px;
    justify-content: space-evenly;
}
.box9{
  height: 200px;
  width: 250px;
  border: 2px solid blue;
  border-radius: 2rem;  
}
.box9:hover{
  height: 220px;
  width: 270px;
}
.know8{
  height: 50px;
  width: 200px;
  font-size: 20px;
  position: absolute;
  top: 180px;
  left: 145px;
  
  border: 2px solid blue;
  border-radius: 2rem;
  align-items: center;
  justify-content: center;
 background-color: #1b9bff;
 color: black;
  
}
.know8:hover{
  background-color: blue;
  color: white;
  width: 220px;
  position: absolute;
  left: 143px;
}
.know8 p{
  position: absolute;
  left: 60px;
  align-items: center;
}
.box10{
  height: 200px;
  width: 250px;
  border: 2px solid blue;
  border-radius: 2rem;   
  }
  .box10:hover{
    height: 220px;
    width: 270px;
  }
  .know9{
    height: 50px;
    width: 200px;
    background-color: #1b9bff;
    position: absolute;
    top: 180px;
    left: 493px;
    border: 2px solid blue;
    border-radius: 2rem;
    
  }
  .know9:hover{
    background-color: blue;
    color: white;
    width: 220px;
    position: absolute;
    left: 485px;
  }
  .know9 p{
    position: absolute;
    top: 0px;
    left: 60px;
    font-size: 20px;
  }
  .box11{
    height: 200px;
    width: 250px;
    border: 2px solid blue;
    border-radius: 2rem;    
  }
  .box11:hover{
    height: 220px;
    width: 270px;
  }
  .know10{
    height: 50px;
    width: 200px;
    background-color: #1b9bff;
    position: absolute;
    top: 180px;
    left: 840px;
    border: 2px solid blue;
    border-radius: 2rem;
    
  }
  .know10:hover{
    background-color: blue;
    color: white;
    width: 220px;
    position: absolute;
    left: 826px;
  }
  .know10 p{
    position: absolute;
    top: 0px;
    left: 60px;
    font-size: 20px;
  }
  .box12{
    height: 200px;
    width: 250px;
    border: 2px solid blue;
    border-radius: 2rem;  
  }
  .box12:hover{
    height: 220px;
    width: 270px;
  }
  .know11{
    height: 50px;
    width: 200px;
    background-color: #1b9bff;
    position: absolute;
    top: 180px;
    left: 1185px;
    border: 2px solid blue;
    border-radius: 2rem;
    
  }
  .know11:hover{
    background-color: blue;
    color: white;
    width: 220px;
    position: absolute;
    left: 1170px;
  }
  .know11 p{
    position: absolute;
    top: 0px;
    left: 60px;
    font-size: 20px;
  }